<table class="mq-table">
    <!-- Render table headers -->
    <tr class="mq-table__header-row">
        <th *ngFor="let heading of headers" class="mq-table__header-cell">
            {{heading}}
        </th>
    </tr>

    <!-- Render table rows -->
    <tr *ngFor="let row of data" class="mq-table__body-row">
        <td>{{ row.busId }}</td>
        <td> <span [innerHTML]="row.routeVariant | firstThreeBold"></span></td>
        <td><span [innerHTML]="row.deviationFromTimetable | busStatus"></span></td>
    </tr>
</table>