$mq-table-row-height: 48px;

.mq-accordion {
    border-bottom: 1px solid var(--mq-color-grey20);
    &__arrow {
        float: right;
        cursor: pointer;
    }
    width: 100%;

    &__body-row {
        height: $mq-table-row-height;
        border-top: 1px solid var(--mq-color-grey20);
    }

    &__header-row {
        padding: var(--mq-space-small);
    }

    &__header-row:hover {
        background: var(--mq-color-grey10);
        cursor: pointer;
    }

    &__header-cell {
        text-transform: capitalize;
    }
}