<div class="app-origanisation">
    <div class="mq-padding-medium-left mq-padding-small-bottom">
        <span class="heading-32">Bus Reports</span>
        <img src="../../assets/media/directions_bus-black-36dp.svg" alt="bus_logo" class="mq-margin-base-left"
            style="vertical-align: bottom" />
    </div>
    <div *ngIf="!showErrorMessage">
        <div *ngFor="let i of organisationsList">
            <app-mq-accordion [heading]="accordionHeader(i)" class="mq-col-xs-10" (click)="toggleAccordion(i)"
                [isOpen]="i.showBusData">
                <!--Render buses table along with notes text area and save button-->
                <div *ngIf="i.busData && i.busData.length > 0 && i.showBusData">
                    <div class="mq-row">
                        <app-buses [data]="i.busData"></app-buses>
                        <textarea class="mq-col-xs-12 mq-textarea" placeholder="Enter notes here" rows="4"
                            [(ngModel)]="i.notes"></textarea>
                    </div>
                    <app-mq-alert [showAlert]="i.showSucessMsg" message="Notes saved sucessfully." type="success">
                    </app-mq-alert>
                    <button class="mq-btn mq-btn-primary mq-margin-small-vertical" (click)="saveRetrieveNotes(i)">Save
                        Notes</button>
                </div>

                <!--Empty state message if busData is empty-->
                <div *ngIf="!i.busData || i.busData.length === 0" class="mq-padding-small-vertical">
                    <span class="text-secondary mq-padding-base-left">Sorry buses status report for this bus
                        organisation is not available.</span>
                </div>
            </app-mq-accordion>
        </div>
    </div>
    <app-mq-alert 
        *ngIf="showErrorMessage" 
        message="Oops! Something went wrong! Try reloading the page again." 
        [type]="error">
    </app-mq-alert>
</div>