:root {
    // White color
    --mq-color-white: #ffffff;

    // Grey color variations
    --mq-color-grey110: #000000;
    --mq-color-grey100: #15171c;
    --mq-color-grey90: #33363e;
    --mq-color-grey80: #4f5156;
    --mq-color-grey70: #666870;
    --mq-color-grey60: #85868c;
    --mq-color-grey50: #a1a2a6;
    --mq-color-grey40: #bebec0;
    --mq-color-grey30: #d0d1d2;
    --mq-color-grey20: #e5e5e5;
    --mq-color-grey10: #f5f5f5;

    // Red color variations
    --mq-color-red10: #ffe8e5;
    --mq-color-red30: #ffd0cc;
    --mq-color-red50: #ff9b94;
    --mq-color-red70: #f7615c;
    --mq-color-red100: #dc3832;
    --mq-color-red110: #c02621;

    // Green color variations
    --mq-color-green10: #e6faeb;
    --mq-color-green30: #bdf0cd;
    --mq-color-green50: #8bd9a1;
    --mq-color-green70: #68c487;
    --mq-color-green100: #3aa65e;
    --mq-color-green110: #287140;

    // Orange color variations
    --mq-color-orange10: #fff0e0;
    --mq-color-orange30: #ffdfc2;
    --mq-color-orange50: #ffc58a;
    --mq-color-orange70: #ffb066;
    --mq-color-orange100: #f99b42;
    --mq-color-orange110: #f4813d;

    // Blue color variations
    --mq-color-blue10: #e6f3ff;
    --mq-color-blue30: #cce4fc;
    --mq-color-blue50: #9dccfa;
    --mq-color-blue70: #68abf2;
    --mq-color-blue100: #3587dc;
    --mq-color-blue110: #2f75c9;

    --mq-color-primary: #337ab7;
    --mq-color-primary-border: #2e6da4;

    // Gold color variations
    --mq-color-gold10: #f8f4e7;
    --mq-color-gold30: #f0e8cf;
    --mq-color-gold50: #e7d9af;
    --mq-color-gold70: #ddc98f;
    --mq-color-gold100: #cfb35f;
    --mq-color-gold110: #b59841;
}
